<!DOCTYPE html>
<html>

<head>
  <title>Muokkaa arvostelua</title>
</head>

<body>
  <h1>Muokkaa arvostelua</h1>
  <form action="/edit/{{ review.id }}" method="post">
    <p>
      Artisti: <br />
      <input type="text" name="artist" value="{{ review.artist }}" maxlength="50" required />
    </p>
    <p>
      Albumin tai kappaleen nimi: <br />
      <input type="text" name="album_name" value="{{ review.album_name }} "maxlength="50" required  />
    </p>
    <p>
      Genre: <br />
      <select name="genre">
        <option value="">--</option>
      {% for genre in genres %}
        <option value="{{ genre.genre }}"
         {% if genre.genre == classes.genre %}selected{% endif %}>
         {{ genre.genre }}</option>
      {% endfor %}
      </select>
    </p>
    <p>
      Julkaisuvuosi: <br />
      <input type="number" name="year" value="{{ classes.julkaisuvuosi }}" min="1500" max="2025" required />
    </p>
    <p>
      Tähtiä: <input type="text" name="stars" value="{{ review.stars }}" 
               maxlength="3" pattern="^(?:[0-4](?:[.,]\d)?|5(?:\.0)?)$" required />/5
    </p>
    <p>
      Arvio: <br />
      <textarea name="review" rows="10" cols="60" maxlength="3000" required>{{ review.review }}</textarea>
    </p>
    <input type="submit" value="Valmis" />
  </form>
</body>

</html>