{% extends "layout.html" %}

{% block title %}
Arvostelusovellus
{% endblock %}

{% block body %}
<h2>Arvostelut</h2>
<form action="/search_reviews" method="get">
  <p>
    Hae arvostelua: <input type="text" name="query" value="{{ query }}"> 
    <input type="submit" value="Hae">
  </p>
  {% for class in classes %}
    <p>
      Valitse {{ class }}: <br />
        <select name="classes">
          <option value="">--</option>
        {% for option in classes[class] %}
          <option value="{{ class }}:{{ option }}">{{ option }}</option>
        {% endfor %}
      </select>
    </p>
  {% endfor %}
</form>
{% for review in reviews %}
  <div class="review_desc">
    <p>
      <a href="/review/{{ review.id }}">{{ review.album_name }}</a><br />
      Artisti: {{ review.artist }}<br />
      Tähtiä: {{ review.stars }}/5<br />
      Käyttäjältä <a href="/user/{{ review.user_id }}">{{ review.username }}</a><br />
    </p>
  </div>
{% endfor %}
{% endblock %}