<!DOCTYPE html>
<html>

<head>
  <title>Arvostelusovellus</title>
</head>

<body>
  <h1>Arvostelusovellus</h1>
  {% if session.username %}
    <p>
      Olet kirjautunut nimellä {{ session.username }}
    </p>
    <p>
      <a href="/logout">Kirjaudu ulos</a>
    </p>

    <p>
      <a href="/new_review">Uusi arvostelu</a>
    </p>
    {% else %}
    <p>
      <a href="/login">Kirjaudu sisään</a> <br />
      <a href="/register">Luo tunnus</a>
    </p>
  {% endif %}

  <h2>Arvostelut</h2>
  <form action="/search_reviews" method="get">
    <p>
      Etsi arvostelua teoksen nimellä: <input type="text" name="query" value="{{ query }}"> <br />
      <input type="submit" value="Etsi">
    </p>
  </form>
  {% for review in reviews %}
    <a href="/review/{{ review.id }}">{{ review.artist }}, {{ review.album_name }}</a> <br / >
  {% endfor %}
  
</html>