<!DOCTYPE html>
<html>

<head>
  <title>Arvostelun haku</title>
</head>
  
<body>
  <p>
    <a href="/">Palaa etusivulle</a>
  </p>
  <h3>Tulokset hakusanalla {{ query }}:</h3>
  {% if reviews %}
    {% for review in reviews %}
      <a href="/review/{{ review.id }}">{{ review.artist }}, {{ review.album_name }}, 
      tähtiä {{ review.stars }}/5</a> <br / >
    {% endfor %}
  {% else %}
    <p>
      Hakusi ei tuottanut yhtään tulosta 
    </p>
  {% endif %}
</body>

</html>
