{% extends "layout.html" %}

{% block title %}
Haku
{% endblock %}

{% block body %}
<h2>Tulokset hakusanalla {{ query }}:</h2>
{% if reviews %}
  {% for review in reviews %}
    <div class="review_desc">
      <p>
        <a href="/review/{{ review.id }}">{{ review.album_name }}</a><br />
        Artisti: {{ review.artist }}<br />
        Tähtiä: {{ review.stars }}/5<br />
        Käyttäjältä <a href="/user/{{ review.user_id }}">{{ review.username }}</a><br />
      </p>
    </div>
  {% endfor %}
{% else %}
  <p>
    Hakusi ei tuottanut yhtään tulosta 
  </p>
{% endif %}
{% endblock %}
