<!DOCTYPE html>
<html>

<head>
  <title>{{ review.album_name }}</title>
</head>
  
<body>
  <h1>{{ review.album_name }}, {{ review.artist }}</h1>
  <h2>[{{ review.genre }}]</h2>
  <h2>Käyttäjältä {{ review.username }}</h2>
  <p>
    {{ review.stars }}/5 tähteä
  </p>
  <p>
    {{ review.review }}
  </p>

  {% if session.username == review.username %}
  <p>
    <a href="/edit/{{ review.id }}">Muokkaa arvostelua</a>
    <a href="/remove/{{ review.id }}">Poista arvostelu</a>
  </p>
  {% endif %}
</body>

</html>
