{% extends "layout.html" %}

{% block title %}
{{ release.title }}
{% endblock %}

{% block body %}
<h2>{{ release.title }}, {{ release.artist }} ({{ release.type }})</h2>
<h3>Julkaisuun liittyvät arvostelut ({{ release.review_count }})</h3>
{% for review in reviews %}
  <div class="review_desc">
    <a href="/review/{{ review.id }}">{{ review.album_name }}</a><br />
    Artisti: {{ review.artist }}<br />
    Tähtiä: {{ review.stars }}/5<br />
    Käyttäjältä <a href="/user/{{ review.user_id }}">{{ review.username }}</a>
  </div>
{% endfor %}
{% endblock %}
