{% extends "layout.html" %}

{% block title %}
Käyttäjä {{ user.username }}
{% endblock %}

{% block body %}
<h2>Käyttäjä {{ user.username }}</h2>
{% if reviews|length > 0 %}
  <h3>Arvosteluja {{ reviews|length }}:</h3>
{% else %}
  <h3>Ei vielä arvosteluja</h3>
{% endif %}
{% for review in reviews %}
  <div class="review_desc">
    <p>
      <a href="/review/{{ review.id }}">{{ review.album_name }}</a><br />
      Artisti: {{ review.artist }}<br />
      Tähtiä: {{ review.stars }}/5<br />
    </p>
  </div>
{% endfor %}
{% endblock %}
